.artist-card {

  .img {
    position: relative;

    .btn-transparent {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: transparent;
      color: $primary;
    }
  }

  .list-group {
    height: 150px;
    overflow: scroll;

    .list-group-events {
      display: flex;
      flex-direction: row;
      align-items: center;

      .date {
        font-size: 0.7em;
        font-style: italic;
      }

      .name {
        margin-left: auto;
      }
    }
  }
}