@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/_variables";

.artist-card {

  .img {
    position: relative;

    .btn-transparent {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: transparent;
      color: $primary;
    }
  }

  .list-events {
    height: 170px;
    overflow: hidden;
    padding: 0;
    margin: 5px 0;
    border-top: 1px solid $gray-300;

    .list-item-events {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      margin-bottom: 5px;
      padding: 5px;

      .info {
        display: flex;
        flex-direction: column;
        margin-left: 5px;

        .date {
          font-size: 0.7em;
          font-style: italic;
        }

        .name {
          font-weight: bold;
          font-size: 0.8em;
        }
      }

      .country {

      }

      &:hover {
        background-color: $gray-200;
        cursor: pointer;
      }
    }
  }
}