@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/_variables";

.list-events {
  overflow: scroll;
  padding: 0;
  margin: 5px 0;
  border-top: 1px solid $gray-300;

  .list-item-events {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 5px;
    padding: 5px;

    .info {
      display: flex;
      flex-direction: column;
      margin-left: 5px;

      .date {
        font-size: 0.5em;
        font-style: italic;
      }

      .city {
        font-size: 0.6em;
      }

      .name {
        font-weight: bold;
        font-size: 0.8em;
      }
    }

    .country {

    }

    &:hover {
      background-color: $gray-200;
      cursor: pointer;
    }
  }
}

.event-modal {

  .info {
    display: flex;

    .address {
      margin-bottom: 10px;
      font-size: 0.9em;
      line-height: 1.2em;

      .label {
        font-weight: bold;
      }
    }

    .links {
      font-size: 0.9em;
      display: flex;
      flex-direction: column;
      margin-left: auto;
    }
  }

  .map {
    overflow: hidden;
    width: 100%;
  }
}