.search-results {
  &.search-row {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    .search-col {
      display: inline-block;
      margin: 1%;
      flex-grow: 1;
      width: 31%;
      //width: calc(100% * (1/4) - 10px - 1px);
    }
  }
}